/* feuille de style pour la page display */


body {
    background-color: grey;
}

.encadre {
    border: 1px solid orange;
    padding: 2px;

    /* display: block */
}

/* :hover c'est une pseudo class au survol de la souris*/
a:hover {
    background-color: cornflowerblue;
    color: cornsilk;
}

/* avec cette class (block) je peut modifier l'affichage normal de la balise de type inline à laquelle j'affecte cette class et qui devient de type block */
.block {
    display: block;
}

/* Avec cette class (inline) je peut faire le contraire; modifier une balise de type block qui devient de type inline */
.inline {
    display: inline;
}

