body {
    background-color: grey;
}
#cubitus {
    width: 80%;
    margin: 0 auto;
    height: 150px;
    border: blue;
    }

.clear {
    clear: both;
}

section {
    background-color: rgb(57, 57, 97);
    height: 100%;
    float: left;
}


