/* feuille de style pour le dossier des exercices ebook */

body {
    background-color:white;color:green;font-size:21px;;
    }

    /* style pour la DD, les DT et les DD */
    /* style pour bien voir les réponse au question */
.reponse {
    background-color: gold;
}

.dt {
    border: green;
    width: 15px;
    padding: 15px;
}

.dd {
    background-color: greenyellow;
    border: blue;
    width: 20px;
    height: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.dl {
    background-color: hotpink;
}

